.album py-5 bg-light {
  background: #000;
}

.container-fluid {
  padding-top: 3rem;
  background: rgb(182, 179, 179);
}

.Wiki {
  font-size: 80%;
}

.card-asi {
  background: rgb(185, 201, 236);
}

nom {
  color: blue;
}

h3 {
  font: italic 1em "Helvetica";
}

h2 {
  font: bold 1.5em "Helvetica";
}

.nav-link-astrobin {
  font-size: 70%;
  color: rgb(240, 198, 12);
  background-color: rgb(60, 9, 247);
}


.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
